mat-card,form{
  width: 100%;
}

mat-form-field, button{
  margin-left: 1rem;
  margin-right: 1rem;

}
table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}
.stock-actual{
  color: #0276aa;
}

.table-container{
  margin-top: 1rem;
}
