<mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>
        <a [routerLink]="'/pages/dashboard'">
          <img src="assets/images/farmaceutico.png" alt="MARIFARMA" />
          MARIFARMA
        </a>
      </h1>
      <span class="menu-spacer"></span>

      <button mat-button [matMenuTriggerFor]="menuCompra">
        Compras
        <mat-icon>shopping_cart</mat-icon></button>
      <mat-menu #menuCompra="matMenu">
        <button mat-menu-item [routerLink]="'/pages/compra'">Registrar Compra</button>

      </mat-menu>


      <button mat-button [matMenuTriggerFor]="menuVenta">
        Ventas
        <mat-icon>attach_money</mat-icon></button>
      <mat-menu #menuVenta="matMenu">
        <button mat-menu-item [routerLink]="'/pages/venta'">Registrar Venta</button>
        <button mat-menu-item [routerLink]="'/pages/venta-anuladas'">Ventas Anuladas</button>


      </mat-menu>


      <button mat-button [matMenuTriggerFor]="menuInventario">
        Almacen
        <mat-icon>store</mat-icon></button>
      <mat-menu #menuInventario="matMenu">
        <button mat-menu-item [routerLink]="'/pages/producto'">Inventario</button>
        <button mat-menu-item [routerLink]="'/pages/categoria'">Categorias</button>

      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menuAdministracion">
        Administracion
        <mat-icon>settings</mat-icon></button>
      <mat-menu #menuAdministracion="matMenu">
        <button mat-menu-item [routerLink]="'/pages/empleado'">Empleados</button>
        <button mat-menu-item [routerLink]="'/pages/tipo-documento'">Tipos Documentos</button>
        <button mat-menu-item [routerLink]="'/pages/cliente'">Clientes</button>
        <button mat-menu-item [routerLink]="'/pages/gasto'">Gastos</button>
        <button mat-menu-item [routerLink]="'/pages/proveedor'">Proveedores</button>

      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menuReportes">
        Reportes
        <mat-icon>bar_chart</mat-icon></button>
      <mat-menu #menuReportes="matMenu">
        <button mat-menu-item [routerLink]="'/pages/report-ventas'">Reporte de ventas</button>
        <button mat-menu-item [routerLink]="'/pages/report-ventas-det'">Reporte Detalles de ventas</button>
        <button mat-menu-item [routerLink]="'/pages/report-compras'">Reporte de compras</button>
        <button mat-menu-item [routerLink]="'/pages/report-compras-det'">Reporte Detalles de compras</button>

      </mat-menu>

      <span class="example-spacer"></span>

         <span class="user"><mat-icon>account_circle</mat-icon>{{apellidos}} {{nombres}}</span>
         <button mat-button (click)="salir()">

          <mat-icon>logout</mat-icon></button>

    </mat-toolbar-row>

  </mat-toolbar>
