mat-card,form{
  width: 100%;
}



button{
    width: 30%;

}

.fila{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  flex: 33.33%;
}

mat-form-field{
  margin: 1rem;
}
