/* You can add global styles to this file, and also import other style files */

html,
body {
  font-size: smaller;
  height: 100%;

  background: #CFCDD2;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0;
}

 mat-card {
  background:#EBF3F5;
  }

  th.mat-header-cell {
    font-weight: bold;
    text-transform: uppercase;
    color: black;
  }

